@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
}
.table-style td, .table-style th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-style tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-style tr:hover {background-color: #ddd;}
  
  .table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1665C0;
    color: white;
  }
  .table-div{
    margin-left: auto;
  margin-right: auto;
  }
  